@model IEnumerable<FormSubmit.Models.FormModel>

@{
    ViewBag.Title = "Register here";
}

<h2>Register</h2>

<p>
    @Html.ActionLink("Click here to register", "Create")
</p>

<h3 style="color:red;">@TempData["IsEmails"]</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobilenumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobilenumber)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
                </td>*@
        </tr>
    }

</table>
